<% @title = "Students" %>
<% @page_action = {title: "New Admission", url: new_student_path() } %>

<div class="ibox">
  <div class="ibox-content">
    <%= render(partial: "students/filters") %>
  </div>  
</div>
<%= render(partial: 'students/list', locals: { students: @students} ) %>