.md-skin .nav-header {
  padding: 33px 5px;
  background: none;
  border-bottom: 1px solid #e7eaec;
  text-align: center;
}


.md-skin .ibox-content{
  border-top-style: solid;
}

.dl-horizontal {
    dd {
    margin-bottom: 10px;
  }
}

.dl-horizontal.dl-left dt{
  text-align: left;
}

.holiday-col{
  background-color: #F5F5F5;
  border: 1px solid #CCC;
}