.md-skin .nav-header {
  padding: 33px 5px;
  background: none;
  border-bottom: 1px solid #e7eaec;
  text-align: center;
}


#logo .profile-image {
  width: 200px;
  img{
    width: auto;
    height: auto;
  }
}

#logo .profile-info {
  margin-left: 205px;
}

